<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onCreateOffer()" [disabled]="!form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="form">
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input errorText="Required" formControlName="title" label="Title" labelPlacement="stacked" required=""
                       type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-textarea [counter]="true" errorText="Required" formControlName="description"
                          label="Short Description" labelPlacement="stacked" maxlength="180" required=""></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input errorText="Required" formControlName="price" label="Price" labelPlacement="stacked" required=""
                       type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input errorText="Required" formControlName="dateFrom" label="Available from" labelPlacement="stacked" required=""
                       type="date"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-input errorText="Required" formControlName="dateTo" label="Available to" labelPlacement="stacked" required=""
                       type="date"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
